.spacer{
	flex: 1 1 auto;
}

.sidenav-container{
   position: absolute;
}

.mat-sidenav {
    width: 280px;
    padding:15px;
}

.main-content {
    padding:20px;
}

.jeen-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}