.paragraph {
  color: white;
  margin: 0;
  margin-bottom: 2rem;
  text-align: justify;
  text-indent: 2rem;
  line-height: 2;
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 30px;
}

.body{
  width: 100vw;
  height: 593px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  position: relative;
  background-image: url('/assets/background/3.jpg') !important;
      background-size: cover;
      background-position: center center;
}

mat-tab-group {
    text-align: center;
}