<!-- <mat-toolbar color="primary" >
	<mat-grid-tile-footer>
	<div class="footer-column">
		<h6>
			Contact
		</h6>
	</div>
	</mat-grid-tile-footer>
</mat-toolbar>
 -->

  <div class="footer-demo" ng-app="footerDemo" layout="row" layout-fill>
  <div class="mat-padding" layout="column" layout-fill>
    <header>
      <mat-toolbar color="primary">
        <div class="md-toolbar-tools">
          <h3>Best Quality Medical Suppliers in India</h3>
          <!-- <span>&copy; {{ today | date: 'yyyy' }}.</span> -->
        </div>
      </mat-toolbar>
	</header>
	
    <!-- <mat-content class="mat-padding demo-section" layout="row" flex>
      <div flex>
        <div>jeen.surgical@gmail.com</div>
        <div>9850353583</div>
      </div>
	</mat-content> -->
    <footer>
      <div>
        <p class="text-xs-center">This website is created by HJ Softwares pvt. ltd. &copy; {{ today | date: 'yyyy' }}. All rights reserved.</p>
      </div>
    </footer>
  </div>

</div> 