<div class="body">
<mat-grid-list cols="8" rows="2" rowHeight="250">
<mat-grid-tile    [colspan] = "1"    [rowspan] = "1">
<mat-card matTooltip = "All types of Wire and Pin Management available" class="product-card" appMaterialElevation>
<mat-card-title>Wire and Pin</mat-card-title>
<img mat-card-image src="/assets/wire_and_pin_management.jpg" alt="test"/> 
</mat-card>
	</mat-grid-tile>
	<mat-grid-tile    [colspan] = "1"    [rowspan] = "1">
<mat-card matTooltip="Close" class="product-card" appMaterialElevation>
	<mat-card-title>PPE</mat-card-title>
<img mat-card-image src="/assets/ppe.jpg" alt="test"/> 
<mat-card-footer>
</mat-card-footer>
</mat-card>
</mat-grid-tile>
<mat-grid-tile    [colspan] = "1"    [rowspan] = "1">
<mat-card  class="product-card" appMaterialElevation>
	<mat-card-title>Instrument Cleaning</mat-card-title>
<img mat-card-image src="/assets/instrument_cleaning.jpg" alt="test"/> 
<mat-card-footer>
</mat-card-footer>
</mat-card>
</mat-grid-tile>
</mat-grid-list>
</div>